// ====================================
// ThemeColor -- Color catalogue
// Fecha:        Agosto 2018
// Autor:        Sergio Granados Solano
// ====================================

// ========= Gray scale ===============

$white:     #fff !default;
$gray-100:  #f8f9fa !default;
$gray-200:  #e9ecef !default;
$gray-300:  #dee2e6 !default;
$gray-400:  #ced4da !default;
$gray-500:  #adb5bd !default;
$gray-600:  #6c757d !default;
$gray-700:  #495057 !default;
$gray-800:  #343a40 !default;
$gray-900:  #212529 !default;
$black:     #000 !default;

// == Original bootstrap colors =======

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

// ========= Blue scale ===============

$blue1: #1c84c6 !default;
$blue2: #23c6c8 !default;
$blue3: #294f75 !default;
$blue4: #0ab1fc !default;
$blue5: #02a5de !default;

// ========= Purple scale =============

$purple1: #b052c0 !default;
$purple2: #a54caa !default;
$purple3: #a578e8 !default;
$purple4: #641ce8 !default;
$purple5: #673aff !default;

// ========= Pink scale ===============

$pink1: #f1709c !default;
$pink2: #e80c7a !default;
$pink3: #ff0dff !default;
$pink4: #ff2765 !default;
$pink5: #e878c5 !default;

// ========= Red scale ================

$red1: #ed5565 !default;
$red2: #f55145 !default;
$red3: #e72510 !default;
$red4: #ff0dff !default;
$red5: #e8402c !default;

// ========= Orange scale =============

$orange1: #ff530d !default;
$orange2: #ff5f00 !default;
$orange3: #e87d0e !default;
$orange4: #ff5e1a !default;
$orange5: #ff774b !default;

// ========= Yellow scale =============

$yellow1: #f8ac59 !default;
$yellow2: #ffb80f !default;
$yellow3: #e08b27 !default;
$yellow4: #ffac07 !default;
$yellow5: #ffe75c !default;

// ========= Green scale ==============

$green1: #1ab394 !default;
$green2: #92c755 !default;
$green3: #29b2a6 !default;
$green4: #4da309 !default;
$green5: #81ff42 !default;