/*
* ================================
* ThemeColor -- Themes catalogue
* Fecha:        Agosto 2018
* Autor:        Sergio Granados Solano
* ================================
*/

$original: (
  "primary":    $blue,
  "secondary":  $gray-600,
  "success":    $green,
  "info":       $cyan,
  "warning":    $yellow,
  "danger":     $red,
  "light":      $gray-100,
  "dark":       $gray-800
);

$inspinia: (
  "primary":    $green1,
  "secondary":  $gray-400,
  "success":    $blue1,
  "info":       $blue2,
  "warning":    $yellow1,
  "danger":     $red1,
  "light":      $gray-100,
  "dark":       $gray-800
);

$nifty: (
  "primary":    $blue3,
  "secondary":  $gray-500,
  "success":    $green2,
  "info":       $blue4,
  "warning":    $yellow2,
  "danger":     $red2,
  "light":      $gray-100,
  "dark":       $gray-800
);

$simplex: (
  "primary":    $red3,
  "secondary":  $gray-300,
  "success":    $green4,
  "info":       $blue5,
  "warning":    $purple2,
  "danger":     $yellow3,
  "light":      $gray-100,
  "dark":       $gray-900
);

$themes: (
  "original": $original,
  "inspinia": $inspinia,
  "nifty": $nifty,
  "simplex": $simplex
);